development:
  secret_key_base: secret_token
  github:
    repo: "https://github.com/nikhgupta/SWLogFiles"
    token: github_token

test:
  secret_key_base: secret_token
  github:
    repo: "https://github.com/nikhgupta/SWLogFiles"
    token: github_token

production:
  secret_key_base: secret_token
  github:
    repo: "https://github.com/nikhgupta/SWLogFiles"
    token: github_token
